.menuItem {
    width: 100%;
    text-align: right;
    margin-bottom: 5px;
}
.Notifications {
    border: #df344b dashed 1px;
    padding-left: 5px;
    padding-right: 5vw;
    overflow: auto;
    position: relative;
    float: right;
    margin-bottom: 50px;
}

.NotificationItem.default {
    color: blue;
}

.NotificationItem.urgent {
    color: red;
}
